@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, p, span, div, h1, h2, h3, h4, a, button {
  font-family: WorkSans, 'sans-serif';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.swiper-slide {
  transition: 0.5s;
}

.swiper-wrapper.disabled {
  transform: translate3d(0px, 0, 0) !important;
}
.swiper-pagination.disabled {
  display: none;
}

.swiper-slide {
  opacity: 0;
  transition: 0.5s opacity;
}

.swiper-slide-active .swiper-slide,
.swiper-slide-prev .swiper-slide,
.swiper-slide-next .swiper-slide {
  opacity: 0;
  transition: 0.5s opacity;
  animation: fromOpacity 0.5s;
}

.swiper-slide-active,
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 1;
  transition: 0.5s opacity;
  animation: toOpacity 0.5s;
}

.swiper-component {
  overflow: hidden;
}

.swiper,
.swiper-wrapper,
.swiper-container {
  overflow: visible !important;
}

body {
  color: white;
  background: #171717;
}

@keyframes fromOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes toOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@font-face {
  font-family: WorkSans;
  font-weight: 900;
  src: url('/fonts/Web/WorkSans-Black.woff') format("woff"),
  url('/fonts/TTF/WorkSans-Black.woff') format("ttf"),
  url('/fonts/OTF/WorkSans-Black.otf') format("otf");
}

@font-face {
  font-family: WorkSans;
  font-weight: 700;
  src: url('/fonts/Web/WorkSans-Bold.woff') format("woff"),
  url('/fonts/TTF/WorkSans-Bold.woff') format("ttf"),
  url('/fonts/OTF/WorkSans-Bold.otf') format("otf");
}

@font-face {
  font-family: WorkSans;
  font-weight: 600;
  src: url('/fonts/Web/WorkSans-SemiBold.woff') format("woff"),
  url('/fonts/TTF/WorkSans-SemiBold.woff') format("ttf"),
  url('/fonts/OTF/WorkSans-SemiBold.otf') format("otf");
}

@font-face {
  font-family: WorkSans;
  font-weight: 500;
  src: url('/fonts/Web/WorkSans-Medium.woff') format("woff"),
  url('/fonts/TTF/WorkSans-Medium.woff') format("ttf"),
  url('/fonts/OTF/WorkSans-Medium.otf') format("otf");
}

@font-face {
  font-family: WorkSans;
  font-weight: 400;
  src: url('/fonts/Web/WorkSans-Regular.woff') format("woff"),
  url('/fonts/TTF/WorkSans-Regular.woff') format("ttf"),
  url('/fonts/OTF/WorkSans-Regular.otf') format("otf");
}
